<div class="nav-waypoint">
    <section id="about-section" class="about-section content-section ha-waypoint" data-animate-up="ha-header-hide" data-animate-down="ha-header-small">
        <div class="grid-container">

            <!-- section header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="section-header">
                    <h2 class="section-title"><span>About Goldenbird</span></h2>
                    <p class="section-slogan"><strong>Goldenbird</strong> brings first hand knowledge of building early stage startups into market leaders.</p>
                </header>
            </div>
            <!-- close section header -->

            <div class="grid-50 tablet-grid-100 mobile-grid-100 about-box">
                <figure class="about-icon"><img src="../assets/images/market_analysis.png" alt="consultancy"></figure>

                <div class="about-box">
                    <h3>Market Analysis</h3>
                    <p>
                        <strong>Define, Target, Hire.</strong> How-to and when. Create a dynamic go-to-market strategy that you'll actually use at every stage of your growth.
                    </p>
                </div>
            </div>

            <div class="grid-50 tablet-grid-100 mobile-grid-100 about-box">
                <figure class="about-icon"><img src="../assets/images/monetization_model.png" alt="ui-design"></figure>

                <div class="about-box">
                    <h3>Monetization Model</h3>
                    <p>
                        <strong>Build. Price. Sell.</strong> You've built your product, but you're unsure of what your market will bear. Stop leaving money on the table.
                    </p>
                </div>
            </div>

            <div class="grid-50 tablet-grid-100 mobile-grid-100 about-box">
                <figure class="about-icon"><img src="../assets/images/sales_process.png" alt="brand-identity"></figure>

                <div class="about-box">
                    <h3>Sales Operations</h3>
                    <p>
                        <strong>CRM. Sales Process. Marketing Automation.</strong> Build a meaningful data architecture that will be the backbone of your business as it scales.
                    </p>
                </div>
            </div>

            <div class="grid-50 tablet-grid-100 mobile-grid-100 about-box">
                <figure class="about-icon"><img src="../assets/images/manage_deals.png" alt="app-development"></figure>

                <div class="about-box">
                    <h3>Deal Management</h3>
                    <p>
                        <strong>Inspire. Control. Forecast.</strong> Scalable sales practices and unscalable one-on-one account engagement coaching.
                    </p>
                </div>
            </div>

        </div><!-- close grid-container -->
    </section><!-- close about section -->

    <div class="clear"></div>

    <!-- parallax banner 2-->
    <section id="parallax-section-2" class="parallax-section parallax-banner-2 parallax-background parallax-section-2 ha-waypoint">
        <div class="parallax-overlay parallax-overlay-2"></div>
        <div class="grid-container parallax-content">

            <!-- parallax header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="parallax-header">
                    <h2 class="parallax-title"><span>"I can't build there, something's in the way..."</span></h2>
                    <p class="parallax-slogan"><strong><i>- Terran SCV</i></strong></p>
                </header>
            </div>
            <!-- close parallax header -->

        </div><!-- close grid container -->
    </section><!-- close parallax banner 2-->

</div>
<div class="clear"></div>