<!-- contact section -->
<div class="nav-waypoint">
    <section id="contact-section" class="contact-section parallax-section parallax-banner-5 parallax-background fixed animated" style="background-position: 50% -135px;">
        <div class="parallax-overlay parallax-overlay-5"></div><!-- parallax overlay -->
        <div class="grid-container parallax-content">

            <!-- parallax header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="parallax-header">
                    <h2 class="parallax-title" style="opacity: 1;"><span>Contact us</span></h2>
                </header>
            </div>
            <!-- close parallax header -->

            <div class="clear"></div>

            <!-- contact wrap -->
            <div class="grid-100 mobile-grid-100 tablet-grid-100">
                <div class="contact-wrap" style="opacity: 1;">

                    <!-- contact form -->
                    <div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">
                        <div class="contact-form-holder clearfix">
                            <h3 class="grid-100">Drop us a line</h3>
                            <!-- contact form -->
                            <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" id="contact-form" class="contact-form">
                                <input type=hidden name="oid" value="00D61000000Hmr3">
                                <input type=hidden name="retURL" value="http://goldenbird.io/">
                                <ul class="grid-50">
                                    <li><input id="first_name" class="first_name" type="text" name="first_name" maxlength="40" placeholder="First:"></li>
                                    <li><input id="last_name" class="last_name" type="text" name="last_name" maxlength="80" placeholder="Last:"></li>
                                    <li><input id="title" class="title" type="text" name="title" maxlength="20" placeholder="Title:"></li>
                                    <li><input id="company" class="company" type="text" name="company" maxlength="40" placeholder="Company:"></li>
                                    <li><input id="email" class="email" type="email" name="email" maxlength="80" placeholder="E-Mail:"></li>
                                    <li><input id="phone" class="phone" type="text" name="phone" maxlength="40" placeholder="Phone (Optional):"></li>
                                </ul>

                                <ul class="grid-50">
                                    <li><textarea id="description" class="description" name="description" placeholder="Message:"></textarea></li>
                                </ul>

                                <div class="grid-100">
                                    <input id="send-btn" class="send-btn" type="submit" name="send-btn" value="Send">
                                    <div class="success-message">Email has been sent!</div>
                                    <div class="alert-message"></div>
                                    <div class="error-message">Email could not be delivered. Please try again later!</div>
                                </div>
                            </form><!-- close contact form -->

                        </div>
                    </div><!-- close contact-form-holder -->

                </div>
            </div><!-- close contact wrap -->


        </div><!-- close container -->
    </section><!-- close contact section -->

</div>
<!-- close nav-waypoint -->
<div class="clear"></div>