<!-- Footer Section -->
<footer class="footer">
    <a href="#top" class="toTop"><i class="icon-angle-up"></i></a>
    <div class="grid-container">
        <div class="grid-100 mobile-grid-100 tablet-grid-100">
            <h3>We <i class="icon-heart"></i> building.</h3>
            <span class="copyright">Powered by <a href="htt://www.goldenbird.io" target="_blank">Goldebird</a></span>
        </div>
    </div><!-- close container -->
</footer>
<!-- close footer -->