<!-- Footer Section -->
<footer class="footer">
    <a href="#top" class="toTop"><i class="icon-angle-up"></i></a>
    <div class="grid-container">
        <div class="grid-100 mobile-grid-100 tablet-grid-100">
            <span class="copyright"><strong>Bottom to the Top</strong></span>
        </div>
    </div><!-- close container -->
</footer>
<!-- close footer -->