<!-- hero section -->
<section class="hero ha-waypoint parallax-section parallax-banner-1 parallax-background" data-animate-up="ha-header-hide" data-animate-down="ha-header-hide">
    <div class="parallax-overlay parallax-overlay-1"></div>
    <div class="grid-container">

        <!-- hero holder -->
        <div class="hero-holder grid-70 mobile-grid-100 tablet-grid-100">
            <div class="hero-inner">
                <span class="hero-description">Creative Agency - Professional Photographer - Web Development</span>
                <div class="hero-title-holder"><h1 class="hero-title">We are <span>Goldenbird</span></h1></div>
                <span class="btn-holder"><a id="to-about-section" class="hero-btn">What We Do</a></span>
            </div>
        </div><!-- close hero-holder -->
    </div>
</section><!-- close hero section -->
<div class="clear"></div>