<!-- service section -->
<div class="nav-waypoint">
    <section id="service-section" class="parallax-section parallax-banner-3 parallax-background service-section fixed animated" style="background-position: 50% 201px;">
        <div class="parallax-overlay parallax-overlay-3"></div>
        <div class="grid-container parallax-content">
            <div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">

                <!-- entry header -->
                <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                    <header class="parallax-header">
                        <h2 class="parallax-title" style="opacity: 1;"><span>Our Philosophy</span></h2>
                        <p class="parallax-slogan" style="opacity: 1;">
                            We're not like most consultants, who measure success in cashed paychecks. At <strong>Goldenbird</strong>, we build partnerships, we don't count logos. Also, we're pretty sure we can beat you at StarCraft.
                        </p>
                    </header>
                </div>
                <!-- close entry header -->

                <!-- icon box 1 -->
                <div class="grid-33 mobile-grid-100 tablet-grid-100">
                    <div class="box-fade icon-box" style="opacity: 1;">
                        <div class="arrow-right"></div>
                        <i class="icon-heart-empty icon-4x service-icon"></i>
                    </div>
                    <div class="box-fade info" style="opacity: 1;">
                        <h3>Ownership</h3>
                        <p>
                            Your success is our success. Your failures are our failures. Every client should realize value from day one.
                        </p>
                    </div>
                </div><!-- close icon box -->

                <!-- icon box 2 -->
                <div class="grid-33 mobile-grid-100 tablet-grid-100">
                    <div class="box-fade icon-box" style="opacity: 1;">
                        <div class="arrow-right"></div>
                        <i class="icon-fighter-jet icon-4x service-icon"></i>
                    </div>
                    <div class="box-fade info" style="opacity: 1;">
                        <h3>Battle Tested</h3>
                        <p>
                            We don't hide behind spreadsheets and theories. What we say is what we've done.
                        </p>
                    </div>

                </div><!-- close icon box -->

                <!-- icon box 3 -->
                <div class="grid-33 mobile-grid-100 tablet-grid-100">
                    <div class="box-fade icon-box" style="opacity: 1;">
                        <div class="arrow-right"></div>
                        <i class="icon-question-sign icon-4x service-icon"></i>
                    </div>
                    <div class="box-fade info" style="opacity: 1;">
                        <h3>The Right Questions</h3>
                        <p>
                            Why compromise your own Philosophy? We enable the right practices while staying true to your values.
                        </p>
                    </div>
                </div><!-- close icon box -->

            </div><!-- close grid-100 -->
        </div><!-- close grid container -->
    </section><!-- close service section -->
</div>
<!-- close nav-waypoint -->