<!-- team section -->
<div class="nav-waypoint">
    <section id="team-section" class="team-section content-section">
        <div class="grid-container">

            <!-- section header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="section-header">
                    <h2 class="section-title"><span>Our Team</span></h2>
                    <p class="section-slogan">Proven <strong>scalable</strong> expertise in developing early stage start-ups.</p>
                    <p class="section-slogan">We have diverse experience and interests ranging across <strong>b2b sales</strong>, <strong>applied mathematics</strong>, and <strong>classical art</strong>.</p>
                </header>
            </div>
            <!-- close section header -->

            <div class="clear"></div>
            <div class="prefix-30 tablet-prefix-20 grid-50">
                <!-- member 1 -->
                <div class="member-box grid-50 mobile-grid-100 tablet-grid-50">

                    <figure class="member-photo"><img src="../assets/images/julio.jpg" alt="member"></figure>
                    <div class="clear"></div>
                    <div class="member-box">
                        <h3>Julio Bermudez</h3>
                        <span>Partner</span>
                    </div>

                </div><!-- close member -->

                <!-- member 2 -->
                <div class="member-box grid-50 mobile-grid-100 tablet-grid-50">
                    <figure class="member-photo"><img src="../assets/images/brendan.png" alt="member"></figure>
                    <div class="clear"></div>
                    <div class="member-box">
                        <h3>Brendan O'Rourke</h3>
                        <span>Partner</span>
                    </div>

                </div><!-- close member --->
            </div>
        </div><!-- close grid-container -->
    </section><!-- close team section -->

    <div class="clear"></div>

    <!-- cta section -->
    <section id="cta-section" class="cta-section content-section">
        <div class="grid-container">
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <span class="cta-btn cl-effect-18"><a href="#contact-section" class="cl-effect-18">Drop us a line</a></span>
            </div>
        </div>
    </section><!-- close cta section -->

 </div>
<div class="clear"></div>