<!-- team section -->
<div class="nav-waypoint">
    <section id="team-section" class="team-section content-section">
        <div class="grid-container">

            <!-- section header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="section-header">
                    <h2 class="section-title"><span>Our Team</span></h2>
                    <p class="section-slogan">Proven <strong>scalable</strong> expertise in developing early stage start-ups.</p>
                    <p class="section-slogan">We have diverse experience and interests ranging across B2B Sales, Applied Mathematics, and Classical Art.</p>
                </header>
            </div>
            <!-- close section header -->

            <div class="clear"></div>

            <!-- member 1 -->
            <div class="member-box prefix-20 grid-20 mobile-grid-100 tablet-grid-50">
                <figure class="member-photo"><img src="../assets/images/member1.jpg" alt="member"></figure>

                <div class="member-box">
                    <h3>Julio Bermudez</h3>
                    <span>Partner</span>
                </div>

            </div><!-- close member -->

            <!-- member 2 -->
            <div class="member-box prefix-20 grid-20 mobile-grid-100 tablet-grid-50">
                <figure class="member-photo"><img src="../assets/images/member2.jpg" alt="member"></figure>

                <div class="member-box">
                    <h3>Brendan O'Rourke</h3>
                    <span>Partner</span>
                </div>

            </div><!-- close member -->

        </div><!-- close grid-container -->
    </section><!-- close team section -->

    <div class="clear"></div>

    <!-- Counter Section -->
    <section id="counter-section" class="counter-section parallax-section parallax-banner-6 parallax-background fixed animated" style="background-position: 50% 376px;">
        <div class="parallax-overlay parallax-overlay-6"></div>
        <div class="grid-container parallax-content">
            <div class="grid-parent grid-100 mobile-grid-100 tablet-grid-100">

                <!-- parallax header -->
                <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                    <header class="parallax-header">
                        <h2 class="parallax-title" style="opacity: 1;"><span>Some Fun Facts</span></h2>
                        <p class="parallax-slogan" style="opacity: 1;">Each completed project makes us even more hungry, hungry for more designs, more code and at least some more twinkies. As a result we deliver a better web <strong>experience</strong>.</p>
                    </header>
                </div>
                <!-- close parallax header -->

                <!-- counter box 1 -->
                <div class="grid-25 mobile-grid-100 tablet-grid-25">
                    <div class="counter-box counter" data-counter="1270" style="opacity: 1;">
                        <span class="count animated">1270</span>
                        <h3 class="counter-details">Twinkies Eaten</h3>
                    </div>
                </div><!-- close counter box -->

                <!-- counter box 2 -->
                <div class="grid-25 mobile-grid-100 tablet-grid-25">
                    <div class="counter-box counter" data-counter="75" style="opacity: 1;">
                        <span class="count animated">75</span>
                        <h3 class="counter-details">Clients Worked With</h3>
                    </div>
                </div><!-- close counter box -->

                <!-- counter box 3 -->
                <div class="grid-25 mobile-grid-100 tablet-grid-25">
                    <div class="counter-box counter" data-counter="75" style="opacity: 1;">
                        <span class="count animated">75</span>
                        <h3 class="counter-details">Completed Projects</h3>
                    </div>
                </div><!-- close counter box -->

                <!-- counter box 4 -->
                <div class="grid-25 mobile-grid-100 tablet-grid-25">
                    <div class="counter-box counter" data-counter="4" style="opacity: 1;">
                        <span class="count animated">4</span>
                        <h3 class="counter-details">Winning Awards</h3>
                    </div>
                </div><!-- close counter box -->

            </div><!-- close grid-100 -->
        </div><!-- close grid container -->
    </section><!-- close parallax banner 3-->

    <!-- cta section -->
    <section id="cta-section" class="cta-section content-section">
        <div class="grid-container">
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <span class="cta-btn cl-effect-18"><a href="#contact-section" class="cl-effect-18">Drop us a line</a></span>
            </div>
        </div>
    </section><!-- close cta section -->

 </div>
<div class="clear"></div>