<!-- testimonial section -->
<div class="nav-waypoint">
    <section id="testimonial-section" class="testimonial-section content-section">

        <div class="grid-container">

            <!-- section header -->
            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">
                <header class="section-header">
                    <h2 class="section-title"><span>Happy Clients</span></h2>
                    <p class="section-slogan">Over <strong>10.500</strong> extremely satisfied clients!</p>
                </header>
            </div>
            <!-- close section header -->

            <div class="clear"></div>

            <div class="grid-70 prefix-15 mobile-grid-100 tablet-grid-100">

                <div class="ut-testimonials">
                    <div id="avatarSlider" class="ut-rotate-avatar" style="height: 200px; overflow: hidden;">
                        <ul class="slides">
                            <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.114743378612105; display: block; z-index: 1;">
                                <img src="images/member1.jpg" class="ut-quote-avatar" alt="avatar" draggable="false">
                            </li>
                            <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.885256621387895; display: block; z-index: 2;">
                                <img src="images/member6.jpg" class="ut-quote-avatar" alt="avatar" draggable="false">
                            </li>
                        </ul>
                    </div><!-- close avatarSlider -->

                    <div id="quoteSlider" class="ut-rotate-quote" style="height: 38px; overflow: hidden;">
                        <ul class="slides">
                            <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.130184452510695; display: block; z-index: 1;">
                                <span class="ut-quote-comment">Five stars for this theme. Awesome design and great, quick support.</span>
                                <h3 class="ut-quote-name">Jax Teller via Twitter</h3>
                            </li>
                            <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.869815547489305; display: block; z-index: 2;">
                                <span class="ut-quote-comment">Just a huge thanks to the United Themes team for being so helpful in their forums.</span>
                                <h3 class="ut-quote-name">Tara Knowles-Teller via Twitter</h3>
                            </li>
                        </ul>
                        <ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div><!-- close quoteSlider -->
                </div><!-- close ut-testimonials -->

            </div><!-- close grid-70 prefix-15 mobile-grid-100 tablet-grid-100 -->

        </div><!-- close container -->
    </section><!-- close testimonial section -->

    <div class="clear"></div>

    <!-- client section -->
    <section id="client-section" class="client-section content-section">

        <div class="grid-container">

            <div class="client-holder grid-parent grid-100 tablet-grid-100 mobile-grid-100">

                <!-- client box -->
                <div class="grid-20 tablet-grid-20 mobile-grid-50">
                    <div class="client-logo">
                        <a href="#"><img src="images/logo1.png" alt="client logo"></a>
                    </div>
                </div><!-- close client box -->

                <!-- client box -->
                <div class="grid-20 tablet-grid-20 mobile-grid-50">
                    <div class="client-logo">
                        <a href="#"><img src="images/logo2.png" alt="client logo"></a>
                    </div>
                </div><!-- close client box -->

                <!-- client box -->
                <div class="grid-20 tablet-grid-20 mobile-grid-50">
                    <div class="client-logo">
                        <a href="#"><img src="images/logo3.png" alt="client logo"></a>
                    </div>
                </div><!-- close client box -->

                <!-- client box -->
                <div class="grid-20 tablet-grid-20 mobile-grid-50">
                    <div class="client-logo">
                        <a href="#"><img src="images/logo4.png" alt="client logo"></a>
                    </div>
                </div><!-- close client box -->

                <!-- client box -->
                <div class="grid-20 tablet-grid-20 mobile-grid-50">
                    <div class="client-logo">
                        <a href="#"><img src="images/logo5.png" alt="client logo"></a>
                    </div>
                </div><!-- close client box -->

            </div><!-- close client-holder -->

        </div><!-- close container -->
    </section><!-- close client section -->

</div>
<!-- close nav-waypoint -->