---
layout: wrapper
title: Goldenbird
---
{{> hero}}

<div id="main-content" class="wrap">
    {{> about}}
    {{> team}}
    {{> philosophy}}
    {{> portfolio}}
    {{> contact}}
    {{> footer}}
</div>