---
layout: wrapper
title: Goldenbird
page_script: 'home.bundle.js'
---
{{> hero}}

<div id="main-content" class="wrap">
    {{> about}}
    {{> team}}
    {{> service}}
    {{> portfolio}}
    {{> contact}}
</div>