<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>{{title}} | {{site.title}}</title>

        <link rel="stylesheet" href="../assets/css/main.css">

    </head>
    <body>
        <a id="top"></a>

        <!-- header section -->
        <header id="header-section" class="ha-header ha-header-hide">
            <div class="grid-container">
                <div class="ha-header-perspective">
                    <div class="ha-header-front">
                        <div class="grid-20 tablet-grid-20 hide-on-mobile">
                            <h1 class="logo"><a href="#top"><img src="../assets/images/logo.png" alt="logo"></a></h1>
                        </div>
                        <nav id="ut-navigation" class="grid-80 tablet-grid-80 hide-on-mobile">
                            <a class="selected" href="#top">Home</a>
                            <a href="#about-section">About</a>
                            <a href="#team-section">Team</a>
                            <a href="#service-section">Service</a>
                            <a href="#portfolio-section">Work</a>
                            <a href="#testimonial-section">Clients</a>
                            <a href="#contact-section">Contact</a>
                        </nav>
                    </div>
                </div><!-- close .ha-header-perspective -->
            </div><!-- close grid container -->
        </header><!-- close header -->
        <div class="clear"></div>

        <!-- hero section -->
        <section class="hero ha-waypoint parallax-section parallax-banner-1 parallax-background" data-animate-up="ha-header-hide" data-animate-down="ha-header-hide">
            <div class="parallax-overlay parallax-overlay-1"></div>
            <div class="grid-container">

                <!-- hero holder -->
                <div class="hero-holder grid-70 mobile-grid-100 tablet-grid-100">
                    <div class="hero-inner">
                        <span class="hero-description">Creative Agency - Professional Photographer - Web Development</span>
                        <div class="hero-title-holder"><h1 class="hero-title">We are <span>Brooklyn</span></h1></div>
                        <span class="btn-holder"><a id="to-about-section" class="hero-btn">What We Do</a></span>
                    </div>
                </div><!-- close hero-holder -->
            </div>
        </section><!-- close hero section -->
        <div class="clear"></div>

        <div id="main-content">
            {% body %}
        </div>

        {{#is this.environment "dev"}}
            <script src="../assets/js/server.bundle.js" defer></script>
            <script src="../assets/js/hot.bundle.js" defer></script>
        {{/is}}

        {{#if this.page_script}}
            <script src="../assets/js/{{this.page_script}}" defer></script>
        {{/if}}
    </body>
</html>
