<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>{{title}}</title>
        <script src="//cdn.optimizely.com/js/2835880417.js"></script>

        <link rel="stylesheet" href="../assets/css/reset.css" media="all">
        <link rel="stylesheet" href="../assets/css/ut-fontface.css" media="all">
        <link rel="stylesheet" href="../assets/css/font-awesome.css" media="all">
        <link rel="stylesheet" href="../assets/css/flexslider.css" media="all">
        <link rel="stylesheet" href="../assets/css/magnific-popup.css" media="all">
        <link rel="stylesheet" href="../assets/css/ut-responsive-grid.css" media="all">
        <link rel="stylesheet" href="../assets/css/color.css" media="all">
        <link rel="stylesheet" href="../assets/css/style.css" media="all">

        <!--[if lt IE 9]>
        <script src="../assets/js/html5.js"></script>
        <![endif]-->

        <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="../assets/css/ie.css" />
        <![endif]-->

        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/SmoothScroll.js"></script>
        <script src="../assets/js/modernizr.js"></script>
        <script src="../assets/js/device.min.js"></script>
    </head>
    <body id="mainsite">
        <a id="top"></a>

        {{> header}}
        {% body %}

        {{#is this.environment "dev"}}
            <script src="../assets/js/server.bundle.js" defer></script>
            <script src="../assets/js/hot.bundle.js" defer></script>
        {{/is}}

        {{#if this.page_script}}
            <script src="../assets/js/{{this.page_script}}" defer></script>
        {{/if}}
        {{> vendor_scripts}}
    </body>
</html>
